img {
  border-radius: 20%; /*Para dar borde*/
  width: 70%;
  display: block;
  margin: auto;
}

.equis{
  height: 10px;
}

mat-grid-list {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  padding:10rem  /*Para dar espacio dentro de grilla*/
}

.texto {
  background-color: rgba(242, 180, 126, 0.891);  /*Para dar color a fondo*/
  width: 50rem;  /*Para determinar espacio usado de ancho*/
  padding: 2.5rem;
  border-radius: 2rem;
}

.titulo {
  margin: auto;
  background-color: rgba(242, 180, 126, 0.891);
  padding: 0.8rem;
  border-radius: 2.5rem;
}

p,h1 {
  color: rgb(183, 40, 75);
  font-weight: bold;
}
