<mat-grid-list cols="2" rowHeight="20rem" gutterSize="3rem">
  <div>
    <mat-grid-tile>
      <div>
        <img src="../../assets/pokeIniciales.webp">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="texto">
        <h1>Pokemones Iniciales</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="texto">
        <h1>Tipos de Pokemones</h1>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem voluptates illo nihil esse maxime velit, nam dicta repellendus harum possimus blanditiis sequi rem cum voluptatibus ipsum minima tempore sed laboriosam!</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <img src="../../assets/tipos.png">
      </div>
    </mat-grid-tile>
  </div>
    <mat-grid-tile colspan="2">
      <div class="titulo">
        <h1>Listo Para Descubri Pokemones?</h1>
      </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <img style="width: 40%;" src="../../assets/Pokemon-Masters.webp">
    </mat-grid-tile>

  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>

